@import url('./variables.css');

.primary-btn {
    /* width: 100%; */
    max-width: 200px;
    min-width: 150px;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 16px;
    font-weight: 500;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.primary-btn:hover {
    background-color: var(--primary-color-hover);
}

.secondary-btn {
    /* width: 100%; */
    max-width: 200px;
    min-width: 150px;
    padding: 10px 20px;
    background-color: var(--white-color);
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 500;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 10px;
}

.secondary-btn:hover {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn {
    background-color: var(--white-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    /* text-align: center; */
    /* width: 100%; */
    max-width: 200px;
    min-width: 150px;
}

.btn:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.active {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    /* width: 100%; */
    max-width: 200px;
    min-width: 150px;
    background-color: var(--primary-color);
    color: var(--white-color);
}

.small-btn {
    padding: 5px 10px !important;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.border-button {
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 0.8rem;
    background-color: rgba(var(--green-color-rgb), 0.20);
    color: var(--green-color);
    border: 1px solid var(--green-color);
    max-width: 100px;
    min-width: 80px;
}

.border-button-sm {
    padding: 5px 10px;
    border-radius: 30px;
    font-size: 0.8rem;
    /* max-width: 100px;
    min-width: 80px; */
}

.green {
    background-color: rgba(var(--green-color-rgb), 0.20);
    color: var(--green-color);
    border: 1px solid var(--green-color);
}

.green-solid{
    background-color: var(--green-color);
    color: var(--white-color);
    border: 1px solid var(--green-color);
}

.green-solid:hover{
    background-color: rgba(var(--green-color-rgb) , 0.80);
}

.green:hover{
    background-color: rgba(var(--green-color-rgb), 0.80);
    color: var(--white-color);
}

.red {
    background-color: rgba(var(--red-color-rgb), 0.20);
    color: var(--red-color);
    border: 1px solid var(--red-color);
}

.red-solid{
    background-color: var(--red-color);
    color: var(--white-color);
    border: 1px solid var(--red-color);
}

.red-solid:hover{
    background-color: rgba(var(--red-color-rgb) , 0.80);
}

.red:hover{
    color: var(--white-color);
    background-color: rgba(var(--red-color-rgb), 0.80);
}

.orange {
    background-color: rgba(var(--primary-color-rgb), 0.20);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.more-margin {
    margin: 10px;
    padding: 10px;
}

.blue-color {
    color: var(--link-color);
}


/* Admin Button */
.manager_button {
    background-color: var(--admin-color); /* Red */
}

.manager_button:hover {
    background-color: var(--admin-color-hover); /* Darker red */
}

/* Manager Button */
.serviceprovider_button {
    background-color: var(--service-provider-color); /* Green */
}

.serviceprovider_button:hover {
    background-color: var(--service-provider-color-hover); /* Darker green */
}

/* Agent Button */
.agent_button {
    background-color: var(--agent-color); /* Blue */
}

.agent_button:hover {
    background-color: var(--agent-color-hover); /* Darker blue */
}

/* Owner Button */
.owner_button {
    background-color: var(--owner-color); /* Yellow */
}

.owner_button:hover {
    background-color: var(--owner-color-hover); /* Yellow */
}

/* Customer Button */
.customer_button {
    background-color: var(--customer-color); /* Light Gray */
}

.customer_button:hover {
    background-color: var(--customer-color-hover); /* Light Gray */
}
/* Common Button Styles */
.customer_button, 
.owner_button,
.agent_button,
.manager_button,
.serviceprovider_button{
    color: var(--white-color);
    margin: 0 10px;	
    padding: 10px;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    width: 140px;
    min-width: 100px;
    text-align: center;
    border: 2px solid transparent;
}

.close_btn { 
    border: none; 
    background-color: var(--white-color); 
    display: flex; 
    justify-content: flex-end;  /* Aligns content to the right */
    margin-left: auto; 
    margin-top: -10px;
    margin-right: -10px;         /* Pushes button to the right */
    cursor: pointer;           /* Shows pointer cursor on hover */
    color: var(--dark-grey-color)
}
