@import url('./variables.css');


/** Property Card Css*/
.property-card {
    display: flex;
    flex-direction: column;
    background-color: var(--white-color);
    border-radius: 24px;
    padding: 10px;
    box-shadow: var(--box-shadow);
    overflow: hidden;
    max-width: 400px;
    margin: 10px;
    cursor: pointer;
}

.property-image img {
    height: 200px;
    width: 100%;
    object-fit: cover;
    border-radius: 14px;
}

.property-details {
    padding: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.profile-details-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.property-info {
    font-size: 0.9rem;
    margin: 5px 0;
    color: var(--dark-grey-color);
    display: flex;
    flex-direction: row;
}

.property-info span {
    display: flex;
    align-content: center;
}

.property-info-img {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

.property-details h3 {
    margin: 0;
    font-size: 1.2rem;
}


.property-info span {
    margin-right: 10px;
}

.property-info p {
    margin: 5px 0;
}

.property-description {
    color: var(--dark-grey-color);
    font-size: 0.9rem;
    margin: 5px 0;
    line-height: 1.4;
    max-height: 100px;
    overflow: hidden;
}

.repair-details {
    padding: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.repair-details-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.repair-details h4 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 500;
}

.repair-description {
    margin: 0;
    color: var(--dark-grey-color);
    font-size: 0.9rem;
}

.property-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.property-actions a {
    text-decoration: none;
    font-size: 0.9rem;
    /* color: var(--primary-color); */
    color: var(--green-color);
    margin-right: 10px;
    font-weight: 600;
}

.property-actions .edit-btn,
.property-actions .delete-btn {
    font-size: 1.2rem;
    color: #ccc;
    cursor: pointer;
}

.property-actions .edit-btn:hover {
    color: #4CAF50;
}

.property-actions .delete-btn:hover {
    color: #F44336;
}


/* Service Card Css*/
.service-card {
    display: flex;
    flex-direction: column;
    background-color: var(--white-color);
    border-radius: 20px;
    padding: 20px;
    box-shadow: var(--box-shadow);
    overflow: hidden;
    margin: 10px 5px;
    width: calc(100% - 55px);
    /* max-width: 1000px; */
}

.service-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin-bottom: 10px;
}

.service-card-header h3 {
    font-size: 1.5rem;
    margin: 0;
}

.service-card-header p {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
}

.service-card-content {
    padding: 0;
}

.field-group {
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 100%;
    align-items: center;
    margin-bottom: 5px;
}

.service-card-label {
    width: 150px;
    font-size: 14px;
    color: var(--dark-grey-color);
    margin: 0;
}

.service-card-field {
    flex: 1;
    padding: 10px;
    margin: 0;
    font-size: 14px;
    color: var(--dark-grey-color);
    border: 1px solid var(--input-border-color);
    background-color: var(--background-color);
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
    word-wrap: break-word;
}

.field-group .service-card-field {
    margin-left: 0;
    width: auto;
    justify-content: flex-start;
    word-wrap: break-word;
}

.green-text {
    color: var(--green-color);
}

.orange-text {
    color: var(--primary-color);
}

.red-text {
    color: var(--red-color);
}

/* .flex-bar {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
} */

/* Tenant Card Css*/
.tenant-card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--white-color);
    border-radius: 20px;
    padding: 20px;
    box-shadow: var(--box-shadow);
    overflow: hidden;
    width: calc(100% - 50px);
    margin: 10px 5px;
}

.tenant-card-left {
    display: flex;
    flex-direction: column;
    /* gap: 10px; */
    width: 70%;
}

.profile-picture-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 20px;
    width: 20%;
}

.profile-picture-section img {
    width: 250px;
    /* height: 100px; */
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid var(--primary-color);
}

/* Review field Css*/
.review-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
    border-radius: 20px;
    margin: 10px 0;
}

.review-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid var(--light-grey-color);
}

.review-field span {
    font-size: 0.9rem;
    color: var(--dark-grey-color);
}

/* Property assign Card Css*/

.property-assign-container {
    display: flex;
    flex-direction: column;
    background-color: var(--white-color);
    border-radius: 20px;
    padding: 10px 20px;
    margin: 10px 5px;
}

.property-assign-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--background-color);
}

.AG__button_class{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 0;
}

.property-assign-header h3 {
    font-size: 1.5rem;
    color: var(--black-color);
    margin: 0;
}

/* Approval Card Css*/
.approval-container {
    display: flex;
    flex-direction: row;
    background-color: var(--white-color);
    border-radius: 20px;
    padding: 10px 20px;
    margin: 10px 5px;
    width: calc(95% );
}


.approval-left-content {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 0 10px;
}

.approval-left-content h3 {
  font-size: 1.5rem;
  color: var(--black-color);
  margin: 0 0 10px 0;
}

.approval-right-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
    width: 20%;
    overflow: hidden;
    box-sizing: border-box;
    border-left: 1px solid var(--background-color);
}

.approval-right-content button {
    margin: 0;
    width: 100%;
}

.approval-right-content .secondary-btn:hover {
    background-color: var(--red-color);
}

.approval-right-content-img{
    height: 150px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.rounded-images{
    height: 180px;
    width: 180px;
    object-fit: cover;
    border-radius: 50%;
}

/* repairCard CSS */
.repair-card {
    display: flex;
    flex-direction: row;
    background-color: var(--white-color);
    border-radius: 20px;
    padding: 10px 20px;
    margin: 10px;
    width: 95%;
  }
  
  .repair-left-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
  }
  
  .repair-right-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
    width: 20%;
    overflow: visible; /* Changed from hidden to allow image zoom */
    box-sizing: border-box;
    border-left: 1px solid var(--background-color);
  }
  
  .detail-fields {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
  }
  
  .detail-fields-aligned{
    display: flex;
    flex-direction: row;
    gap: 0;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  
  .details-labels-aligend{
    font-size: 16px;
    font-weight: 600;
    color: var(--dark-grey-color);
    display: block;
    text-align: left;
    width: 150px;
  }
  
  .details-field-small {
    width: 100%;
    height: auto;
    padding: 5px;
    margin: 5px 0;
    font-size: 12px;
    font-weight: 600;
    color: var(--black-color);
    background-color: var(--background-color);
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
    margin-right: 10px;
  }
  
  .approval-right-content button {
    margin: 0;
    width: 100%;
  }
  
  .approval-right-content .secondary-btn:hover {
    background-color: var(--red-color);
  }
  
  .repair-prop-img {
    height: 150px;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    transition: all 0.3s ease;
    position: relative;
    margin-bottom: 0;
    margin-top: auto;
    align-self: flex-end;
  }
  
  .repair-prop-img:hover {
    transform: scale(1.5) translateY(15%); /* Changed translateX to translateY to move down */
    transition: all 0.3s ease-in-out;
    border-radius: 8px;
    cursor: zoom-in;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    z-index: 2; /* Reduced z-index to stay below buttons */
    position: relative;
    margin-bottom: 60px;
    filter: brightness(1.1);
  }
  
  .repair-card-box {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    border: 1px solid #eaeaea;
    position: relative;
    overflow: visible;
  }
  
  .repair-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .repair-details {
    flex: 1;
  }
  
  .repair-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    position: relative;
    z-index: 2; /* Increased z-index to stay above image */
  }
  
  .accept-btn, .decline-btn {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.2s ease;
    position: relative;
    z-index: 2; /* Increased z-index to stay above image */
  }
  
  .accept-btn {
    background-color: #28a745;
    color: white;
  }
  
  .accept-btn:hover {
    background-color: #00ec33;
    color: rgb(62, 62, 62);
    transform: translateY(-2px);
  }
  
  .decline-btn {
    background-color: #dc3545;
    color: white;
    margin-bottom: 30px;
  }
  
  .decline-btn:hover {
    background-color: #ff0000;
    color: rgb(62, 62, 62);
    transform: translateY(-2px);
  }
  
  .year-sort{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
  }
  
  .sort-time-button {
    width : 240px;
    margin-left: 250px;
    height: 30px; 
    padding: 5px 20px; 
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 14px;
    font-weight: 500;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .sort-time-button:hover {
    background-color: var(--primary-dark-color);
    color: var(--primary-color);
  }
  
  .date-filter-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 96%;
    align-items: left;
    justify-content: flex-start;
    color: var(--dark-grey-color);
    background-color: #ffffff;
    border-radius: 5px;
    margin-left: 0.5%;
    position: sticky;
    z-index: 1000;
    padding: 10px 20px;
    margin-top: 10px;
  }
  
  .date-label {
    font-size: 14px;
    color: var(--dark-grey-color);
    display: block;
    text-align: left;
    margin-bottom: 5px;
  }
  
  .date-input-field-small {
    width: 100%;
    height: auto;
    padding: 5px;
    margin: 5px 0;
    font-size: 12px;
    font-weight: 600;
    color: var(--black-color);
    background-color: var(--background-color);
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
    margin-right: 10px;
    margin-left: 5px;
  }

  