.form_wrapper{
    display: flex;
    flex-direction: column;
    /* align-items:center; */
    justify-content: center;
    background-color: var(--white-color);
    padding: 20px;
    border-radius: 20px;
}

.field-group {
    display: flex;
    flex-direction: row;
    gap: 15px;
    width: 100%;
    align-items: center;
    margin-bottom: 5px;
}

.input-label {
    font-size: 14px;
    color: var(--dark-grey-color);
    display: block;
    text-align: left;
    margin-bottom: -2px;
    margin-top: 4px;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 14px;
    border: 1px solid var(--input-border-color);
    background-color: var(--background-color);
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
    font-family: 'Poppins', Arial, sans-serif;
}

.input-field:focus {
    border-color: var(--primary-color);
    outline: none;
}


.input-group {
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    align-items: center;
    /* margin: 10px; */
}

.input-group-group {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.checkbox-group{
    display: flex;
    gap: 10px;
    margin: 5px;
}

.extra-margin-botton{
    margin-bottom: 10px;
}

.checkbox-group-row{
    flex-direction: row;
    justify-content: space-around;
}

.checkbox-group-column{
    flex-direction: column;
}

.inline-label{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    color: var(--dark-grey-color);
}

.input-group-aligned{
    display: flex;
    flex-direction: row;
    gap: 0;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.input-label-aligend{
    font-size: 16px;
    font-weight: 600;
    color: var(--dark-grey-color);
    display: block;
    text-align: left;
    width: 150px;
}

.extra-small-images{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.editText{
    font-size: 14px;
    color: var(--dark-grey-color);
    display: block;
    text-align: left;
    margin-bottom: 0px;
    margin-top: 8px;
    margin-bottom: -10px;
    text-align: center;
}

.errors {
    background-color: #f8d7da; /* Light red background color */
    color: #721c24; /* Dark red text color */
    border-radius: 8px; /* Curved corners */
    border: 1px solid #f5c6cb; /* Optional: Light red border */
    font-size: 14px; /* Text size */
    margin-top: 15px; /* Space above the div */
    text-align: center;
}





